<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Project</title>
</head>

<body>
    <form action="/projectDetails" method="POST">
        <input type="text" name="title" placeholder="Project Title" autocomplete="off">
        <input type="text" name="ip" placeholder="Enter Ip" autocomplete="off">
        <input type="number" name="pinNumber" placeholder="Pins for device configuration" autocomplete="off">
        <textarea name="projDescription" placeholder="Project Description"></textarea>
        <button>Submit</button>
    </form>
</body>

</html>